<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload Form</title>
</head>
<body>
<center><!--I apologize for using this atrocious tag I was in a hurry-->
    <div class="banner-text">
         {% if message %}
         <br>
            <p style="font-weight:bold; color:white; padding:10px;">{{ message }}</p>
        {%else%}
                <h2 style="font-weight:bold; color:white; padding:10px;">SwiftLearn</h2>
    
        {% endif %}
        {% if image %}
            <img src="{{ url_for('static', filename='mind_map.png') }}" alt="Mind Map Image">
            <input type="button" value="Chat" onclick="window.href('/chat')">
        {% endif %}
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label for="file">Select a Document:</label>
            <input type="file" id="file" name="file" required>
            <input type="submit"  value="Upload">
        </form>
        <form action="/upload" method="post">
            <label for="text">Paste a YouTube URL:</label>
            <input type="text" id="text" name="url" placeholder="https://www.youtube.com/watch?v=your_video_id">
            <input type="submit"  value="Submit">
        </form>
    </div>
</center>
<div class="animation-area">
      <ul class="box-area">
           <li></li>
           <li></li>
           <li></li>
           <li></li>
           <li></li>
           <li></li>
      </ul>
</div>
<script type="text/javascript" src="script.js"></script>
</body>
</html>
